$light-blue: #add8e6;
$sky-blue: #87ceeb;
$cobalt-blue: #0047ab;
$royal-blue: #4169e1;
$navy: #000080;
$sea-blue: #2e8b57;
$teal: #008080;
$turquoise: #40e0d0;
$dark-blue: #00008b;
$craft-color: #01303b;
