@import '@styles/_variables';
@import '@styles/_mixins';

.container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	// background: url('/background.jpg') no-repeat center center fixed;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.header {
	padding: 10px;
	background-color: #fff;
	text-align: center;
	z-index: 10;
}

.logo {
	height: 5vh;
	margin: 0 auto;
	padding: 0.4rem 0 1.2rem;
}

.nav {
	display: flex;
	gap: 80px;
	justify-content: center;

	@include respond-to(md) {
		gap: 40px;
	}

	@include respond-to(sm) {
		gap: 20px;
		flex-wrap: wrap;
	}
}

.navItem {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	font-weight: bold;

	&:hover {
		text-decoration: underline;
	}
}

.main {
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	justify-content: flex-start;
	padding: 4rem;

	@include respond-to(md) {
		justify-content: center;
		padding: 2rem;
	}

	@include respond-to(xs) {
		padding: 1rem;
	}
}

.overlay {
	text-align: left;
	padding: 40px;
	border-radius: 10px;
	width: 90%;

	@include respond-to(lg) {
		width: 70%;
	}

	@include respond-to(md) {
		width: 90%;
		padding: 20px;
	}
}

.title {
	color: #fff;
	font-size: 8rem;
	margin: 0;

	@include respond-to(md) {
		font-size: 5rem;
	}

	@include respond-to(sm) {
		font-size: 3.5rem;
	}

	@include respond-to(xs) {
		font-size: 2.5rem;
	}
}

.subtitle {
	color: #fff;
	margin: 20px 0;

	@include respond-to(md) {
		font-size: 1rem;
	}

	@include respond-to(sm) {
		font-size: 0.9rem;
	}

	@include respond-to(xs) {
		font-size: 0.8rem;
		font-weight: 300;
	}
}

.contactButton {
	background-color: transparent;
	color: #fff;
	padding: 0.4rem 0.4rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 900;
	border-radius: 5px;
	border: 1px solid #fff;
	transition: background-color 0.3s ease, color 0.3s ease;

	&:hover {
		background-color: #fff;
		color: #000;
	}

	@include respond-to(xs) {
		padding: 0.6rem 1rem;
		font-size: 0.9rem;
	}
}

.contactButton:hover {
	background-color: #fff;
	color: #000;
}

.backgroundImage {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: fill;
	z-index: 0;
}
