.normalButton {
	background-color: transparent;
	color: #fff;
	padding: 0.4rem 0.4rem;
	border: none;
	cursor: pointer;
	font-size: 1rem;
	font-weight: 900;
	border-radius: 5px;
	border: 1px solid #fff;
}

.normalButton:hover {
	background-color: #fff;
	color: #000;
}
