@import '@styles/_variables';

.productTitle {
	font-size: 1.2rem;
	font-weight: bold;
	background-color: $craft-color;
	border-radius: 0.5rem;
	color: white;
	line-height: normal;
	padding: 0.25rem 0;
}
