@import '@styles/_variables';
@import '@styles/_mixins';

.productTitle {
	font-size: 1.2rem;
	font-weight: bold;
	background-color: $craft-color;
	border-radius: 0.5rem;
	color: white;
	line-height: normal;
	padding: 0.25rem 0;
	width: 100%;
	margin-bottom: 1rem;

	@include flexCenter();
}
